[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio
[submodule "public"]
	path = public
	url = git@github.com:torniker/torniker.github.io.git
	branch = master
